__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

.env

media/uploads/*
!media/uploads/.gitkeep

sphinx_docs/_build/

.idea/
.vscode/
*.log

docs/User_Story_Лапин_Василенко.docx
docs/gen_user_story.js
docs/node_modules/
docs/package*.json
